
@media screen and (max-width:1600px){
    
    :root{
        --main-width-blocks-category:300px;
        --main-font-size-titulos:2.7em;
        --main-font-size-subtitulos:1.7em;
        --main-font-size-parrafos:1.2em;
        --main-font-size-links:1em;

        --main-width-blocks-video:380px;
    }

    .main-container{
        width: 85%;
    }
    
}

@media screen and (max-width:1440px){
    :root{
        --main-width-blocks-category:270px;
        --main-font-size-titulos:2.7em;
        --main-font-size-subtitulos:1.7em;
        --main-font-size-parrafos:1.2em;
        --main-font-size-links:1em;

        --main-width-blocks-video:370px;
    }

    #popUp iframe{
        height: 700px;
    }
}

@media screen and (max-width:1280px){
    :root{

        --main-font-size-titulos:2.3em;
        --main-font-size-subtitulos:1.3em;
        --main-font-size-parrafos:1em;
        --main-font-size-links:.8em;

        --main-width-blocks-video:320px;
        --main-width-blocks-category:230px;
    }

    #popUp iframe{
        height: 620px;
    }
}